.divButtons {
  padding-left: 20%;
  background-color: #4a6379;
  padding-right: 2%;
  display: flex;
  justify-content: space-evenly;
}

.homeButton,
.createButton,
.viewButton,
.rolesButton {
  margin: 0% 10% 0% 0%;
  text-align: center;
  background-color: #4a6379;
  color: white;
  border: none;
  padding: 1% 2%;
  border-color: black;
  font-size: 20px;
  cursor: pointer;
}

.homeButton:hover,
.createButton:hover,
.viewButton:hover,
.rolesButton:hover {
  background-color: #1a2f46;
  color: white;
  text-decoration: none;
}
