.title {
  margin: 2% 30% 0% 30%;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50px;
  color: #0a0909;
  text-align: center;
  background-color: #ccd5dc;
  border-radius: 15px;
}

.divcreateform {
  margin: 1% 5% 5% 13%;
  padding: 1% 20%;
  color: black;
  /* margin-left: 15%;
  margin-right: 15%; */
}
.createforms > label {
  display: inline-block;
  margin-top: 1%;
  width: 33%;
  font-size: 20px;
}
.buttoncreatesubmit {
  position: relative;
  margin-top: 3%;
  padding: 1% 8%;
  left: 23%;
  background: #445ba8;
  border-radius: 10px;
  color: rgb(243, 243, 243);
  border-color: rgb(255, 255, 255);
  font-size: 19px;
}

.buttoncreatesubmit:hover {
  background: #444d75;
}

.createforms > input,
.createforms > select,
.createforms > textarea {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 2%;
  width: 350px;
  max-width: 600px;
  padding: 8px;
  background: #e2e2e2;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
}

.createforms > textarea {
  min-height: 50px;
}

.formerror {
  margin: 0%;
  color: rgb(221, 1, 1);
}
