.subslisthead {
  margin: 2% 30% 0% 30%;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50px;
  color: #0a0909;
  text-align: center;
  background-color: #ccd5dc;
  border-radius: 15px;
}

.roletable {
  position: absolute;
  margin: 3% 27%;
  padding: 10% 1%;
}

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 80px;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

tr:hover {
  background-color: #dddddd;
}
