.tagtitle {
    margin: 3% 30% 1% 30%;
    padding: 0%;
    background: #ccd5dc;
    border-radius: 15px;
  }
  
  .tagtitle > h1 {
    position: relative;
    left: 31%;
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 47px;
    color: #0a0909;
  } 

.tagform {
    padding: 1% 20%;
    color: black;
    margin-left: 16%;
    margin-right: 15%;
  }
  
  .forms > label {
    display: inline-block; 
    margin-top: 10px; 
    width: 70%;
    font-size: 20px;
  }
  
  .forms >  button {
    margin-top: 10%;
    margin-left: 32%;
    width: 150px;
    height: 50px;
    background: #445ba8;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    border-color: rgb(255, 255, 255);
    font-size: 19px;
  }
  
  .forms >  button:hover{
    background: #444d75;
  }
  
  .forms > input,
  .forms > select,
  .forms > textarea {
    box-sizing: border-box;
    display: inline-block;
    width: 500px;
    max-width: 600px;
    padding: 11px;
    background: #e2e2e2;
    border: 2px solid #aaaaaa;
    border-radius: 10px;
  }
  
  .forms > textarea {
    min-height: 100px;
  }