 .title {
  margin: 3% 30% 1% 30%;
  padding: 0%;
  background: #ccd5dc;
  border-radius: 15px;
}

.title > h1 {
  position: relative;
  left: 25%;
  font-family: "Varela";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 47px;
  color: #0a0909;
} 

.divcreateform{
  margin: 1% 20% 0% 15%;
  padding: 1% 20%;
  color: black;
  margin-left: 15%;
  margin-right: 15%;
}
.createforms > label{
  display: inline-block; 
  margin-top: 10px; 
  width: 70%;
  font-size: 20px;

}
.buttoncreatesubmit{
  position: relative;
  margin-top: 10%;
  padding: 1% 8%;
  left: 35%;
  background: #445ba8;
  border-radius: 10px;
  color: rgb(243, 243, 243);
  border-color: rgb(255, 255, 255);
  font-size: 19px;

}

.buttoncreatesubmit:hover{
  background: #444d75;
}

.createforms > input,
.createforms > select,
.createforms > textarea {
  box-sizing: border-box;
  display: inline-block;
  width: 500px;
  max-width: 600px;
  padding: 11px;
  background: #e2e2e2;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
}

.createforms > textarea {
  min-height: 100px;
}