.Header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 5%;
    /* bottom: 90.51%; */
    width: 1728px;
    height: 106px;
    background: #000000;
    border-radius: 0px;
    /* color: #000000; */
  }
  
  .Header > h1 {
    position: absolute;
    left: 69.39%;
    right: 5.15%;
    top: 25px;
    /* bottom: 80%; */
  
    font-family: "Trirong";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 62px;
    letter-spacing: 0.06em;
  
    color: #ffffff;
  }
  
  .Header > .image_link > img {
    position: absolute;
    left: 50px;
    height: 89px;
    width: 185px;
    left: 85px;
    top: 17px;
  }